<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TerrariaSpriteViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TerrariaSpriteViewer.Properties.Settings>
            <setting name="SelectedArmorHead" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedArmorBody" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedArmorLegs" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedBackgroundColor" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedFrameTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedTexturePack" serializeAs="String">
                <value />
            </setting>
        </TerrariaSpriteViewer.Properties.Settings>
    </userSettings>
</configuration>